
<!-- Cookies Modal -->
<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="notice d-flex justify-content-between align-items-center">
            <div class="cookie-text">This website uses cookies to personalize content and analyse traffic in order to offer you a better experience.</div>
            <div class="buttons d-flex flex-column flex-lg-row">
              <a href="#a" class="btn btn-success btn-sm" data-dismiss="modal">I accept</a>
              <a href="#a" class="btn btn-secondary btn-sm" data-dismiss="modal">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- 
 Product Not Avaliable Modal 
-->
<div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModal" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="notice d-flex justify-content-between align-items-center">
        <div class="cookie-text">Pròximament podràs fer la comanda per la web.</div>
        <div class="producte-seleccionat"></div>
        <div class="buttons d-flex flex-column flex-lg-row">
          <a href="#a" class="btn btn-success btn-sm" data-dismiss="modal">OK</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- 
 Login Modal 
-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-title text-center">
            <h4>Login</h4>
          </div>
          <div class="d-flex flex-column text-center">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="email1" placeholder="El teu email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password1"  placeholder="El teu password...">
              </div>
              <button type="button" class="btn btn-info btn-block btn-round">Login</button>
            </form>
            
            <div class="text-center text-muted delimiter">o usa una xarxa per autenticarte.</div>
            <div class="d-flex justify-content-center social-buttons">
              <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="fab fa-twitter"></i>
              </button>
              <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="fab fa-facebook"></i>
              </button>
              <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <i class="fab fa-linkedin"></i>
              </button>
            </div>
            <div class="signup-section">Encara no t'has decidit? 
                <a href="./Apuntat.html" class="text-info"> Apunta't! </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Aquesta estructura em dóna problemes 
      <div class="modal-footer d-flex justify-content-center">
          <div class="signup-section">Not a member yet? <a href="#a" class="text-info"> Sign Up</a>.</div>
       </div> 
       -->
    </div>
</div>