/* 
	Color fons 1. #fefefe; Gairebé blanc 
	Color fons 2. #A11260; Verd clar.
	Color fons menú. #E4FF36 (groc clar) 
	Color text. #0B6623 (verd fort)
	Color destacat 1. red
	Color portada destacat. #A11260 (lila)
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
    .bungee {
        font-family: 'Bungee Inline', serif;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
    .bungee {
        font-family: 'Bungee Inline', serif;
}

@font-face {
  font-family: 'Anna';
  src: url('../fonts/Anna.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.Anna {
  font-family: "Anna", cursive;
  font-size: 1.4rem;
}

.menuproductes {
    background-color: #E4FF36;  
    color: #D50969;
    padding: 1.4em;
}

.descproductes {
    background-image: url("paper.gif");
    background-color: #89FC00;
    color: #183d22;
    padding: 0.1em;
}

.llistaproductes {
    background-color: #fefefe;
    color: #0B6623;
    padding: 0.7em;
}

.peupagproductes {
  background-color: #E4FF36;  
  color: #D50969;
  padding: 1.4em;
}

.product-miniature {
  padding-bottom: 0.2rem;
}

.fons-horta {
  position: relative;
}

/* Fons per a decorar la pantalla */
.fons-horta {    
  background-image: url("../img/fons-hort1.jpg");
  background-position: 50% 0;
  background-size: cover;
  height: 12rem;
}

.text-quisom {
  padding-top: 2rem;
  color: rgb(255, 236, 66);
  text-align: center;
  font-size: 1.5rem;
  font-style: bold;
}

#menuproductes {
  opacity: 0.5;
}

/* 
Animem el text amb CSS3. 
https://blog.hubspot.com/website/css-fade-in
*/
.fade-in-text {
  display: inline-block;
  animation: fadeIn ease-in-out 1.5s;
  -webkit-animation: fadeIn ease-in-out 1.5s;
  -moz-animation: fadeIn ease-in-out 1.5s;
  -o-animation: fadeIn ease-in-out 1.5s;
  -ms-animation: fadeIn ease-in-out 1.5s;
}

@keyframes fadeIn {
  0% {margin-left: 100%;}
  100% {margin-left: 0%;}
}

@-moz-keyframes fadeIn {
  0% {margin-left: 100%;}
  100% {margin-left: 0%;}
}

@-webkit-keyframes fadeIn {
  0% {margin-left: 100%;}
  100% {margin-left: 0%;}
}

@-o-keyframes fadeIn {
  0% {margin-left: 100%;}
  100% {margin-left: 0%;}
}

@-ms-keyframes fadeIn {
  0% {margin-left: 100%;}
  100% {margin-left: 0%;}
}


/* Sprites (pendent) */
.front1 {
  background: url('../img/sprite-avatar.jpg') -100px 0;
}

.front2 {
  background: url('../img/sprite-avatar.jpg') -200px;
}

.flip-card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  padding-left: 2rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/* Títols al centre */
h3 {
  text-align: center;
  font-weight: bold;
  text-decoration-line:underline;
  transition: all .3s; 
}

/* 
Web filters selecció productes. 
*/
.thumbnail-container img {
  transition: all 1s ease;
}

a.product-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-web:hover {
  -webkit-filter: contrast(4);
}


/** Producte detall. */
.tax-shipping-delivery-label {
  font-size: 0.8 rem;
  color: #D50969;
}

.btn-success {
    align-content: center;
}

.btn-outline-success  {
  font-size: 1.6rem;
}

/* 
Color links del menú
*/
.navbar-light .navbar-nav .nav-link {
    color: red;
    font-size: 1.6rem;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: red solid 0.3rem;
}

a.map-link {
  color: red;
  font-size: 1.4rem;
  font-style: bold;
}

/* Centrar

  display: flex;
  justify-content: center;
  align-items: center;
  */
.product-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-list-add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
h2 a {
    color: red;
    font-size: 1.6rem;
    text-align: center;
}

.btn-outline-success {
    color: red;
}

/* Maps, secció OnSom.html */
.maps-style {
  width:100%;
}

.iframe{
  border:0;
}

/* 
Hiding an image on mobile/tablet screens.
https://stackoverflow.com/questions/43533942/hiding-an-image-in-responsive/43534989
*/

.product-miniature img{
  display: block;
}

/* The fruit shines whe user hovers on it. */
.product-miniature img:hover{
  -webkit-filter: contrast(4);
}

@media (max-width:800px){
  .product-miniature img{
      display:none;
  }
}

/* CSS3 zoom transition a la imatge de detall de producte. */
#img-detall {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/* Amplia el 30% el tamany de la imatge */
#img-detall:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}
